<div class="showcase-title">
  <h3>{{theme-setting "showcase_title_text"}}</h3>
</div>
<div class="showcase-main">
{{#conditional-loading-spinner condition=this.isLoading}}
  {{topic-list topics=this.topicList showPosters=true}}
{{/conditional-loading-spinner}}
</div>
<div class="bottom-wrapper">
    <a href="{{this.data.link}}" class="feed-link">{{this.moreTopicsButtonText}}</a>
</div>
