{{#conditional-loading-spinner condition=isLoading}}
  {{topic-list topics=topicList showPosters=true}}
{{/conditional-loading-spinner}}
<div class="bottom-wrapper">
    <a href="{{data.link}}" class="feed-link">{{moreTopicsButtonText}}</a>
</div>
